{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>{% block title %}La caleta{% endblock %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            <div class="alert alert-info container mt-3">
                <div class="d-flex align-items-center justify-content-center gap-3">
                    <img src="{% static 'Imagenes/logo.svg' %}" alt="Logo La caleta" width="48" height="48" />
                    <span class="fw-bold">La caleta</span>
                </div>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <div class="alert alert-dark container text-center">TI3041 Programacion Back End - Inacap 2026 @</div>
        </footer>
    </body>
</html>